/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Saiyan-Sans';
    src: url('/fonts/Saiyan-Sans.ttf') format('truetype');
}
  
h1 {
    font-family: 'Saiyan-Sans', sans-serif;
}
  
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

/* Additional styles for the new design */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-dragonball-bg {
  background-image: url('/dragonball-bg.jpg');
  background-size: cover;
  background-position: center;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}