/* app/characters/page.module.css */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff6, 0 0 10px #ff6, 0 0 15px #ff6, 0 0 20px #ff6, 0 0 25px #ff6, 0 0 30px #ff6, 0 0 35px #ff6;
  }
  100% {
    box-shadow: 0 0 10px #f06, 0 0 20px #f06, 0 0 30px #f06, 0 0 40px #f06, 0 0 50px #f06, 0 0 60px #f06, 0 0 70px #f06;
  }
}

.magicalBg {
  background-image: url('/dragonballz-background.jpg');
  /* image-rendering: -webkit-optimize-contrast; */
  background-position: center;
  background-size: cover;
}

.animateFadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animateBounce {
  animation: bounce 1s infinite;
}

.magicalCard {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  animation: glow 2s infinite alternate;
}

.magicalSidebar {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.glow-on-hover:hover {
  animation: glow 1s infinite alternate;
}

/* Add this to your CSS file */

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.bg-animated {
  /* background: url('/dragonballz-background.jpg') repeat; */
  animation: moveBackground 20s linear infinite;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
  
}

.min-h-screen {
  min-height: 100vh;
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'DragonBallZ';
  src: url('/fonts/DragonBallZ.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'DragonBallZ', sans-serif;
}

h1 {
  font-family: 'DragonBallZ', sans-serif;
}

button {
  font-family: 'DragonBallZ', sans-serif;
}
